/* COLORS */
:root {
    --dark1:#283618;
    --border:#171e10;
    --accentText:#FFFFFF;
    --accent1:#BC6C25;
    --darkaccent1:#953332;
    --accent2:#606C38;

    --bodyText:'Montserrat';
    --headingText:'Gluten';
    --titleText:'Gluten';
}

body {
    background-attachment: fixed;
    font-family: var(--bodyText);
    background-color: var(--dark1);
    font-size:15px;
    line-height: 150%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: var(--titleText);
    color:var(--accent2);
    text-shadow:1px 1px var(--dark1);
}

.bio {
    text-align: center;
}

#main {
    background-color: white;
    width:800px;
    padding:40px;
    margin:auto;
    border-radius: 10px;
    margin-bottom:150px;
}

#main img {
    width:100%;
}

#main button {
    font-size:20px;
    font-family: var(--headingText);
    background-color: var(--accent1);
    color: var(--accentText);
    border:none;
    border-radius:10px;
    padding:10px 20px;
}

/* GRID LAYOUT */
.row {
    width:100%;
    display:inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main h2 {
    color:var(--accentText);
    background-color: var(--accent1); 
    font-family: var(--headingText);
    font-size: 25px;
    margin:0px 0px, 10px, 0px;
    padding:20px;

}

#main h3 {
    font-family: var(--headingText);
    font-size:20px;
}

.left {
    float:left;
    width:50%;
}

.right {
    float:right;
    width:50%;
}

.right img {
    width:100%;
}

/* */
.cogshell {
    font-family: var(--headingText);
    font-size:20px;
    padding:10px;
    color:var(--accentText);
    background-color: var(--accent1);
    border: 1px solid var(--darkaccent1);
    border-radius: 10px;
}

.cogshell a {
    color:inherit;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: var(--accentText);
    margin:0px;
    padding:0px;
}

footer p {
    margin:0px;
}