.debug {
    background-color: var(--debug);
}

body {
    background-color:var(--pageBackground);
    font-family:var(--bodyFont);
    font-size:15px;
    word-wrap:break-word;
}

#container {
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:100%;
}

#card {
    background-color:var(--white);
    box-shadow: 10px 10px var(--border);
    padding:5%;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    line-height: 150%;
    border-radius: 15px;
    margin-top:200px;
}

#card button  {
    font-family:var(--bodyFont);
    background-color: var(--pageBackground);
    box-shadow: 3px 3px var(--border);
    border-radius: 5px;
    color:var(--white);
    padding:10px 30px;
    margin:5px 10px;
    border:none;
}

#card button:hover { cursor:pointer; }

#card button a {
    color:white;
    text-decoration: none;
}

#content-icon {
    width:75px;
    border:5px dashed var(--border);
    padding:5px;
    margin:0px 10px;

}

.header-deco {
    border:none;
    width:180px;
    margin:0px;
    padding:0px;
    padding-bottom:15px;

}

.header-deco img {
    width:100%;

}

/* RESUME */
#resume {
    border-top:2px solid var(--border);
}

#resume h2, h3, li {
    text-align: left;
}

/* GOOGLE ICONS */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
}

.navi {
    position:absolute;
    bottom:50%;
    color:var(--white);
}

.navi-back {
    left:23%;
}

.navi:hover {
    cursor:pointer;
}