:root {
    /* FONTS */
    --bodyFont:'Karla', sans-serif;
    /* PRIMARY COLORS */
    --white:#ffffff;

    /* MAIN PAGE COLORS */
    --pageBackground:#ac8650;
    --border:#836438;

    --debug:rgb(8, 222, 19);
}