body {
    font-family:var(--body);
    background-color: var(--black);
    overflow-x: hidden;
}

/* used for centering main header */
.center {
    width:50%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

/* header styling */
#header {
    background-color: var(--lblack);
    border:5px solid var(--white);
    margin-top:50px;
    border-radius:10px;
    padding:40px;
    color:var(--white);
    text-align:center;
}

#header h1 {
    text-transform: uppercase;
    font-family:'Handwrite';
    padding:5px;
    margin:5px;
}

#header p {
    padding:5px;
    margin:5px;
}

#portrait {
    width:75px;
    padding:10px;
    border:5px dashed var(--green);
    margin-bottom:10px;
}

#links {
    padding:15px;
}

#links a {
    padding:5px 20px;
    background-color: var(--black);
    margin:5px 10px;
    color:#ffffff;
    border:none;
    text-decoration: none;
    border-radius:5px;
    border:2px solid var(--white);
    box-shadow:3px 3px var(--yellow);
    font-weight:bold;
}

#links a:hover {
    background-color: var(--yellow);
    box-shadow:3px 3px var(--white);
    color:var(--black);
}
/* end of header styling */

.card {
    margin:5% auto;
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
}

.content {
    padding:15px;
}

.content h1, h2 {
    text-align:center;
}

/* education card styling */
#education h1 {
    text-transform: uppercase;
    font-weight:800;
}
