body {
    background-color: #ACC4AB;
    font-family: "Montserrat", sans-serif;
}

.header {
    width:100%;
    height:100%;
}

.content {
    width:75%;
    margin:50px auto;
}

.content .card {
    padding:40px 50px;
}

.row {
    display:flex;
    flex-direction: row;
    margin:5% auto auto auto;
    width:fit-content;
}

.card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding:40px 150px;
    margin:10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    height:max-content;
}

.card-nav {
    margin:20px;
}

.card-nav a {
    margin:0px 10px;
}

/* responsive screening */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        width:100%;
        margin:0px;
    }

    .card {
        width:fit-content;
        padding:10px;
        margin:0px;
        box-shadow: none;
    }
}