.debug {
    background-color: var(--debug);
}

body {
    background-color:var(--black);
    font-family:var(--bodyFont);
    font-size:15px;
    word-wrap:break-word;
    overflow-x: hidden;
    margin:0px;
    padding:0px;
    color:var(--bodyColor);
}

hr {
    width:80%;
    border: 5px solid var(--border);
    border-radius: 5px;
}

h1 {
    text-transform: uppercase;
}

.page-title {
    text-align: center;
    color: var(--white);
    font-family: var(--cursive);
    text-transform: capitalize;
}

#container {
    position:absolute;
    width:100%;
}

/* HOLDS ALL CONTENT INFO */
.card {
    background-color:var(--white);
    box-shadow: 10px 10px var(--red);
    padding:5%;
    width: 60%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    border-radius: 15px;
    position:relative;
    margin-top:5%;
    margin-bottom:5%;
}

.card .title { color:var(--white); }

/* SUB CARDS */
.container { /*of cards*/
    background-color:var(--cardBackground);
    box-shadow: inset 1 1 5px var(--debug);

}
.content {
    box-shadow: 10px 10px var(--black);
}

/* FOOTER */
.closing-info {
    margin:0px;
    background-color: var(--border);
    text-align: center;
    color:var(--white);
    padding:50px 0px;
}
.closing-info button {
    background-color: var(--white);
    box-shadow: 3px 3px var(--sidelinkShadow);
    border-radius: 5px;
    color:var(--sidelinkText);
    padding:10px 30px;
    margin:5px 10px;
    border:none;
    font-size: 20px;
}
/**/

.tooltip {
    overflow-x: hidden;
    overflow-wrap: break-word;
    position: absolute;
    padding:10px 20px;
    background-color: var(--sidelinkButton);
    box-shadow: 3px 3px var(--green);
    border-radius: 5px;
}

.tooltip-about {
    width:225px;
    font-weight: bold;

    top:10px;
    left:25px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #adadad; 
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: var(--black);
  box-shadow: inset 0 0 5px var(--border); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--border);
}
/**/