.card {
    margin-top:5%;
    margin-bottom:5%;
}

/* RESUME */
#resume {
    border-top:2px solid var(--border);
}

#resume h2, h3, li {
    text-align: left;
}

.card-icon {
    background-color: var(--pageBackground);
    color:var(--white);
    border-radius: 15px;
    height:50px;
    width:50px;
    margin-bottom:10px;
    box-shadow: 5px 5px var(--border);
}