.card {
    margin-top:5%;
    margin-bottom:5%;
}

/* RESUME */
#resume {
    border-top:2px solid var(--border);
}

#resume h2, h3, li {
    text-align: left;
}

.card-icon {
    background-color: var(--pageBackground);
    color:var(--white);
    border-radius: 15px;
    box-shadow: 5px 5px var(--blue);
    padding:15px;
    font-size:20px;
    margin-bottom:30px;
}

.expand-button {
    background-color: var(--sidelinkButton);
    box-shadow: 5px 5px var(--sidelinkShadow);
    border:none;
    padding:5px 25px;
    border-radius: 5px;
    font-size: 20px;
    margin-top:30px;
}