@font-face { font-family: Handwrite; src: url('/Assets/Fonts/Handwrittenfont-Regular.ttf'); } 

:root {
    --black:#121212;
    --Lblack:#202020;
    --white:#eee9e5;
    --grey:#71706f;
    --red: #FE4A49;
    --green: #52e046;
    --blue: #2AB7CA;
    --yellow: #FED766;
    --purple: #700548;

    --title:'Karla';
    --body:'Karla';
}

