<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten&family=Montserrat&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Style/grody.css">
</head>
<body>
    <button class="cogshell"> <a href="https://cogshell.tumblr.com/">< Cogshell</a></button>
<div id="main" class="bio">
    <h1>Grody Family</h1>
    <p>Welcome to anything and everything Grody family. I started this family on March 23, 2023. I don't follow any specific rules besides no using money cheats. I make stuff up as I go along so that it helps keep my interest. </p>
    <button>Resources</button>
    <button>Family Tree</button>
</div>
<div id="main">
    <h1>Overview
    </h1>
    <div class="container">
        <div class="row">
            <h2>Generation One</h2>
            <div class="left">
                <h3>Founders</h3>
                <ul>
                    <li>Izaiah</li>
                    <li>Monique</li>
                </ul>
                <h3>Children</h3>
                <ul>
                    <li>Leila</li>
                    <li>Daniel</li>
                    <li>Sawyer</li>
                    <li>Samantha</li>
                </ul>
            </div>
            <div class="right">
                <img src="Assets/grody header.png">
            </div>
        </div>
        <div class="row">
            <h2>Generation Two</h2>
            <div class="left">
                <h3>Heir & Spouse</h3>
                <ul>
                    <li>Leila</li>
                    <li>Arthur Morgan</li>
                </ul>
                <h3>Children</h3>
                <ul>
                    <li>Marshall</li>
                    <li>Mollie</li>
                    <li>Marissa</li>
                    <li>Marcus</li>
                </ul>
            </div>
            <div class="right">
                <img src="Assets/Gen2Photo.png">
            </div>
        </div>
    </div>
</div>

<div id="main">
    <h1>Family Tree</h1>
    <img src="Assets/familytree.png">
    <p>*** The family tree may not be up to date with the information above.</p>

</div>

<div id="main">
    <h1>Resources</h1>
    <p>I really only download mods that change the look or add to the game. I try my hardest to resist the urge of downloading CAS custom content.</p>
    <h3>Mods & Scripts</h3>
    <ul>
        <li>MC Command Center</li>
        <li>Better Build/Buy (TwistedMexi)</li>
        <li>All Cheats (TwistedMexi)</li>
        <li>More Columns In CAS</li>
        <li>No City Living, Island Living, Snowy Escape Names</li>
    </ul>
    <ul>
        <li>No Auto Food Grab After Cooking (LittleMSSam)</li>
    </ul>
    <h3>Lighting & Looks</h3>
    <ul>
        <li>Into the Light, Out of the Dark (Lotharihoe)</li>
    </ul>
    <h3>Defaults & Replacements</h3>
    <ul>
        <li>Default Eyes (Simulantity)</li>
        <li>Azalea Default Skin (Nesurii)</li>
        <li>Remove EA Eyelashes (Kijiko)</li>
    </ul>
    <ul>
        <li>Painting Override (Oleander)</li>
    </ul>

</div>

<footer>
    <p>Leeb, Leefuh, Lurve</p>
</footer>

</body>

</html>