<!DOCTYPE html>
<head>
    <script onload="initializeHead()" src="/index.js"></script>
    <script src="https://kit.fontawesome.com/29dc434267.js" crossorigin="anonymous"></script>
</head>

<body onload="initializeHeader()">

<div id="container">
    <div id="header" class="card index-card">
    </div>

    <div class="card container">
        <h1 class="title">Projects</h1>
        <div class="card content">
        </div>
    </div>

    <footer class="closing-info">
        <button onclick="backtoTop()"><span class="fa-solid fa-chevron-up"></span></button>
    </footer>
</div>

</body>
</html>