<!DOCTYPE html>
<head>
    <title>Melissa Underwood</title>
    <link href="/Style/main.css" rel="stylesheet">
    <link href="/Style/sims.css" rel="stylesheet">
    <link href="/Style/variables.css" rel="stylesheet">

    <script src="sims.js"></script>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&display=swap" rel="stylesheet"> 

    <!-- ICONS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body onload="singleCard()">

<div id="container">
    <div id="card">
        <div id="header" class="header">
            <div id="content-icon">

            </div>
            <h1 id="header-title">THE GRODY FAMILY</h1>
        </div>
        <div id="navigation">
            <button>About</button>
            <button><a target="_blank" href="https://cogshell.tumblr.com/">Tumblr</a></button>
            <button >Resume</button>
        </div>
        <div id="content">
        </div>
    </div>
</div>

</body>
</html>