<!DOCTYPE html>
<head>
    <script onload="initializeHead()" src="/index.js"></script>
    <script src="https://kit.fontawesome.com/29dc434267.js" crossorigin="anonymous"></script>

    <link href="/Style/sims.css" rel="stylesheet">

    <script>
        const gens = document.getElementsByClassName("title");

        function scrolltoView() {
            gens[2].scrollIntoView({behavior: "smooth"});
        }
    </script>

    
</head>

<body onload="scrolltoView()">
<script type="module" src="/sims.js"></script> 
<div id="container">
    <div id="header">
        <a href="/"><button class="returnHome"> <span class="fa fa-home"></span> Back Home</button></a>
    </div>

    <h1 class="page-title">The Grody Family</h1>

    <div class="card">
        <h1>Resources</h1>
        <div class="modlist">
            <h3>Mods & Scripts</h3>
            <ul>
                <li>MC Command Center</li>
                <li>Better Build/Buy (TwistedMexi)</li>
                <li>All Cheats (TwistedMexi)</li>
                <li>More Columns In CAS</li>
                <li>No City Living, Island Living, Snowy Escape Names</li>
            </ul>
            <ul>
                <li>No Auto Food Grab After Cooking (LittleMSSam)</li>
            </ul>
            <h3>Lighting & Looks</h3>
            <ul>
                <li>Into the Light, Out of the Dark (Lotharihoe)</li>
            </ul>
            <h3>Defaults & Replacements</h3>
            <ul>
                <li>Default Eyes (Simulantity)</li>
                <li>Azalea Default Skin (Nesurii)</li>
                <li>Remove EA Eyelashes (Kijiko)</li>
            </ul>
            <ul>
                <li>Painting Override (Oleander)</li>
            </ul>
        </div>
    </div>

    <div class="card container">
        <h1 class="title">Family Overview</h1>
        <div class="card row">
        <h1>FOUNDERS</h1>
            <div id="gen1">
            </div>
        </div>

        <div class="card row">
        <h1>GENERATION TWO</h1>
            <div id="gen2">
            </div>
        </div>

        <div class="card row">
        <h1>GENERATION THREE</h1>
            <div id="gen3">
            </div>
        </div>
        
    </div>

<footer class="closing-info">
    <button onclick="backtoTop()"><span class="fa-solid fa-chevron-up"></span></button>
    <p>Melissa Underwood</p>
</footer>
</div>


</body>
</html>