<!DOCTYPE html>
<head>
    <script onload="initializeHead()" src="/index.js"></script>
    <script src="https://kit.fontawesome.com/29dc434267.js" crossorigin="anonymous"></script>
</head>
<body onload="initializeHeader(); pageHeader()">

<div id="container">
    <div id="header" class="card index-card">
    </div>

    <div class="card container">
        <script type="text/javascript" src="http://cogshell.tumblr.com/js"></script>
        <script type="text/javascript" src="/sims.js"></script>
        <h1 class="title"><a href="https://www.tumblr.com/cogshell" target="_blank">VIEW THE REST ON TUMBLR</a></h1>
    </div>

    <footer class="closing-info">
        <button onclick="backtoTop()"><span class="fa-solid fa-chevron-up"></span></button>
    </footer>
</div>

</body>
</html>